<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>

    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" arguments="%LAUNCHER_ARGS%" startupTimeLimit="3600" requestTimeout="23:00:00" />

    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="https" enabled="true" patternSyntax="Wildcard" stopProcessing="false">
          <match url="*.js" />
          <action type="Rewrite" url="{R:1}.js.gz" appendQueryString="true" logRewrittenUrl="true" />
        </rule>
        <rule name="privacy" patternSyntax="ECMAScript">
            <match url="^(privacy|about|legal|get-involved|history-of-psychedelics)" />
            <action type="Rewrite" url="/c/index.php?page_id={R:0}" />
        </rule>
        <rule name="knowledge-lsd-expire" stopProcessing="true">
          <match url="knowledge-lsd-expire" />
          <action type="Redirect" url="c/knowledge-lsd-expire" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Rewrite content-encoding header" preCondition="IsGZ" stopProcessing="false">
          <match serverVariable="RESPONSE_CONTENT_ENCODING" pattern=".*" />
          <action type="Rewrite" value="gzip" />
        </rule>
        <rule name="Rewrite content-type header" preCondition="IsGZ" stopProcessing="false">
          <match serverVariable="RESPONSE_CONTENT_TYPE" pattern=".*" />
          <action type="Rewrite" value="application/javascript" />
        </rule>
        <preConditions>
          <preCondition name="IsGZ">
            <add input="{URL}" pattern="\.gz$" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <urlCompression doStaticCompression="false" />
  </system.webServer>
</configuration>